<!-- Here we are using bootstrap to center the content, add cards and to contain every subcomponent of the match page  -->
<div class="container">
    <div class="row">
        <div class="col-sm-4"></div>
        <div class="mat-card col-sm-6">
            <div class="card-body">
                <app-match-add></app-match-add> <!-- Add match subcomponent-->
            </div>
        </div>
        <div class="col-sm-4"></div>
    </div>
    <div class="row">
        <div class="col-sm-4"></div>
        <div class="col-sm-6">
            <div class="mat-card">
                <div class="card-body">
                    <app-match-list></app-match-list> <!-- Match list subcomponent-->
                </div>
            </div>
        </div>
        <div class="col-sm-4"></div>
    </div>
</div>
