<form #form="ngForm" [appSetScoring]="form">
    <div class="row">
        <div class="col-sm-4">
            <p><b>SET</b></p>
        </div>
        <div class="col-sm-1"></div>
        <div class="col-sm-1">
            <p><b>1.</b></p>
        </div>
        <div class="col-sm-1">
            <p><b>2.</b></p>
        </div>
        <div class="col-sm-1">
            <p><b>3.</b></p>
        </div>
        <div class="col-sm-1">
            <p><b>4.</b></p>
        </div>
        <div class="col-sm-1">
            <p><b>5.</b></p>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-4">
            <mat-form-field>
                <mat-label>Player one</mat-label>
                <mat-select [(ngModel)]="playerOne" name="playerOne">
                    <mat-option *ngFor="let player of players$ | async | mutuallyExclusivePlayerSelect:playerTwo.id"
                        [value]="player">
                        {{player.name}}
                    </mat-option>
                </mat-select>
                <button *ngIf="playerOne.id" mat-button matSuffix mat-icon-button aria-label="Clear"
                    (click)="clearPlayerOne($event)">
                    <mat-icon>close</mat-icon>
                </button>
            </mat-form-field>
        </div>
        <div class="col-sm-1"></div>
        <div class="col-sm-1">
            <mat-form-field style="width: 30px;">
                <input matInput type="number" min="0" [(ngModel)]="sets[0][0]" name="playerOneSetOne">
            </mat-form-field>
        </div>
        <div class="col-sm-1">
            <mat-form-field style="width: 30px;">
                <input matInput type="number" min="0" [(ngModel)]="sets[1][0]" name="playerOneSetTwo">
            </mat-form-field>
        </div>
        <div class="col-sm-1">
            <mat-form-field style="width: 30px;">
                <input matInput type="number" min="0" [(ngModel)]="sets[2][0]" name="playerOneSetThree">
            </mat-form-field>
        </div>
        <div class="col-sm-1">
            <mat-form-field style="width: 30px;">
                <input matInput type="number" min="0" [(ngModel)]="sets[3][0]" name="playerOneSetFour">
            </mat-form-field>
        </div>
        <div class="col-sm-1">
            <mat-form-field style="width: 30px;">
                <input matInput type="number" min="0" [(ngModel)]="sets[4][0]" name="playerOneSetFive">
            </mat-form-field>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-4">
            <mat-form-field>
                <mat-label>Player two</mat-label>
                <mat-select [(ngModel)]="playerTwo" name="playerTwo">
                    <mat-option *ngFor="let player of players$ | async | mutuallyExclusivePlayerSelect:playerOne.id"
                        [value]="player">
                        {{player.name}}
                    </mat-option>
                </mat-select>
                <button *ngIf="playerTwo.id" mat-button matSuffix mat-icon-button aria-label="Clear"
                    (click)="clearPlayerTwo($event)">
                    <mat-icon>close</mat-icon>
                </button>
            </mat-form-field>
        </div>
        <div class="col-sm-1"></div>
        <div class="col-sm-1">
            <mat-form-field style="width: 30px;">
                <input matInput type="number" min="0" [(ngModel)]="sets[0][1]" name="playerTwoSetOne">
            </mat-form-field>
        </div>
        <div class="col-sm-1">
            <mat-form-field style="width: 30px;">
                <input matInput type="number" min="0" [(ngModel)]="sets[1][1]" name="playerTwoSetTwo">
            </mat-form-field>
        </div>
        <div class="col-sm-1">
            <mat-form-field style="width: 30px;">
                <input matInput type="number" min="0" [(ngModel)]="sets[2][1]" name="playerTwoSetThree">
            </mat-form-field>
        </div>
        <div class="col-sm-1">
            <mat-form-field style="width: 30px;">
                <input matInput type="number" min="0" [(ngModel)]="sets[3][1]" name="playerTwoSetFour">
            </mat-form-field>
        </div>
        <div class="col-sm-1">
            <mat-form-field style="width: 30px;">
                <input matInput type="number" min="0" [(ngModel)]="sets[4][1]" name="playerTwoSetFive">
            </mat-form-field>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-12" style="text-align: center;">
            <button (click)="postMatch()" mat-raised-button class="btn btn-info">Add match</button>
        </div>
    </div>
</form>