<!-- NgrxLet allows us to get data from observable without having to subscribe in the .ts file and assign the value to a variable, removing unnecessary code.  -->
<ng-container *ngrxLet="players$ as players">
    <table mat-table matSort [dataSource]="players">
        <ng-container matColumnDef="name">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Name </th>
            <td mat-cell *matCellDef="let element"> {{element.name}} </td>
        </ng-container>

        <ng-container matColumnDef="setsWon">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Sets won </th>
            <td mat-cell *matCellDef="let element"> {{element.setsWon}} </td>
        </ng-container>

        <ng-container matColumnDef="matchesWon">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Matches won </th>
            <td mat-cell *matCellDef="let element"> {{element.matchesWon}} </td>
        </ng-container>

        <ng-container matColumnDef="id">
            <th mat-header-cell *matHeaderCellDef ></th>
            <td mat-cell *matCellDef="let element">
                <mat-icon (click)="deletePlayer(element.id)">
                    clear</mat-icon>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="playerColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: playerColumns;"></tr>
    </table>
</ng-container>